<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cchcc.learn.amu">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".e01.E01Activity" />
        <activity android:name=".e01a.E01aActivity" />
        <activity android:name=".e02.E02Activity" />
        <activity android:name=".e02a.E02aActivity" />
        <activity android:name=".e03.E03Activity" />
        <activity android:name=".e04.E04Activity" />
        <activity android:name=".e05.E05Activity" />
        <activity android:name=".e06.E06Activity" />
    </application>

</manifest>